header{
    background-color: yellow;

}

.container {
   width: 600px;
   border: 1px solid #3333;
   margin: auto;
   margin-top:200px;
  
}


.info {
    display: flex;
    flex-direction:column;
}


.info .first-p-tag {
    background-color: red;
    text-align: center;
    font-size: 20px;
    color: blue;
}

.info .first-p-tag::before {
    content: 'My name is Bishar';
}

.last-p-tag {
    background-color: orange;
    text-align: center;
    font-size: 20px;
    color: white;
}

.last-p-tag::before {
    content: 'And I Drive a Ford Fusion';
}